@model List<BlogStore_NTIER_AI_EntityLayer.Entities.Comment>
@{
    Layout = null;
}


<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />


<div class="container">
    <br /><br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Comment Details</th>
            <th>Comment History</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CommentId</td>
                <td>@item.UserNameSurname</td>
                <td>@item.CommentDetail</td>
                <td><a href="/Comment/DeleteComment/@item.CommentId" class="btn btn-danger">Delete</a></td>
                <td><a href="/Comment/UpdateComment/@item.CommentId" class="btn btn-success">Update</a></td>
            </tr>
        }
    </table>
    <a href="/Comment/CreateComment/" class="btn btn-primary">Create a New Comment</a>
</div>